BASE_URL=your_base_url
FRONTEND_URL=your_frontend_url
PORT=your_port
MONGODB_URI=mongodb+srv://<username>:<password>@taskmanagement.bnsiudj.mongodb.net/task_management?retryWrites=true&w=majority
JWT_SECRET=your_secret_key
JWT_EXPIRES_IN=your_token_expiration_time
# Example: 7d, 30d, 1h, etc.

GOOGLE_CLIENT_ID=your_google_client_id
GOOGLE_CLIENT_SECRET=your_google_client_secret
GOOGLE_CALLBACK_URL=your_google_callback_url